:root {
    --margin-value: 5px;
}

#coderoot {
    border-left: 1px solid grey;
    padding: 10px;
}

#coderoot > .ast {
    margin-left: var(--margin-value);
}

.ast {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1px 0;
    margin-left: 1rem;
    padding: 1px;
    /* make it code friendly */
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}
span.ast {
    padding: 1px;
}
div.ast {
    border: 1px solid grey;
    border-top: 0;
    border-right: 0;
}

.ast:first-child {
    margin-left: var(--margin-value);
}

.term {
    padding: 3px;
    border-bottom: 1px dotted grey;
}

.binaryop {
    display: flex;
    align-items: center;
}

/* 控制显示顺序 */
.binaryop > .ast:nth-child(1) {
    order: 2;
}

.binaryop > .ast:nth-child(2) {
    order: 1;
}

.binaryop > .ast:nth-child(3) {
    order: 3;
}

.term_control,
.list_control {
    display: none;
}

.cond {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}

.cond > div {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.ast > span:first-child {
    color: #1d97c0;
}

.define > *:first-child,
.cond > *:first-child,
.if > *:first-child,
.lamda > *:first-child,
.quote > *:first-child {
    color: #a27b0d !important;
}

.comment .ast {
    color: grey !important;
    font-weight: 100;
    font-size: small;
}

.operator > *:first-child {
    color: #115c92 !important;
}

.number {
    color: #1a57cc;
}

.boolean {
    color: #c60c7c;
}