#coderoot {
    border: 1px solid grey;
    padding: 5px;
}

#coderoot > .ast {
    margin-left: 3px;
}

.ast {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    margin-left: 1em;
    padding: 3px;
    /* make it code friendly */
    font-family: "Courier New", Courier, monospace;
}

div.ast {
    border: 1px solid grey;
    border-top: 0;
    border-right: 0;
}

.ast:first-child {
    margin-left: 3px;
}

.term {
    padding: 3px;
    border-bottom: 1px dotted grey;
}

.binaryop {
    display: flex;
    align-items: center;
}

/* 控制显示顺序 */
.binaryop > .ast:nth-child(1) {
    order: 2;
    /* 第一个子项显示顺序为2 */
}

.binaryop > .ast:nth-child(2) {
    order: 1;
    /* 第二个子项显示顺序为1 */
}

.binaryop > .ast:nth-child(3) {
    order: 3;
    /* 第二个子项显示顺序为1 */
}

.term_control,
.list_control {
    display: none;
}

.cond {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}

.cond > div {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.define > *:first-child,
.cond > *:first-child,
.if > *:first-child,
.lamda > *:first-child,
.quote > *:first-child {
    color: #a27b0d;
}

.operator > *:first-child {
    color: #1d97c0;
}

.number {
    color: #0723c8;
}

.boolean {
    color: #c60c7c;
}